h2 {
  font-family: "Cormorant", sans-serif;
    position: relative;
    display: block;
    font-size: 60px;
    font-weight: 700;
    transition: all .5s ease;
    text-transform: uppercase;
    text-transform: capitalize;
    line-height: 4rem;
}


.sticky-nav {
  position: sticky;
  top: 0;
  opacity: 1;
    z-index: 99901;
    visibility: visible;
    background: #fff;
    box-shadow: 0 10px 80px rgba(0, 0, 0, .1);
}

.logo-wrapper {
  padding: 20px 0;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: left;
}

.logo-img {
  width: 100%;
  object-fit: cover;
}

.logo {
  padding: 10px 70px 0 0;
}

.nav-options-collection {
  background-color: white !important;
}

.nav-options:hover {
  color: #C77A63;
}

.nav-item, .dropdown {
  padding: 0 5px;
}

.dropdown-wrapper a {
  /* padding: 0 2px !important; */
}

.book-btn {
  padding: 11px 35px 13px;;
  border-radius: 1px;
  border: 1px solid #e5e5e5;
  background-color: white;
  color: black;
  letter-spacing: 1px;
    font-weight: 500;
}

.book-btn:hover {
  background-color: #C77A63;
  color: white;
  transition: 0.5s;
  border: none;
}

.search-wrapper {
  display: flex;
  align-items: center;
  justify-content: right;
}

.search-portion {
  display: flex;
}

.search-icon {
  display: flex;
  align-items: center;
}

.search-icon i {
  font-size: 18px;
  padding: 0 30px 0 0;
}

.search-icon i:hover {
  color: #C77A63;
  transition: 0.5s;
}

.nav-options {
  position: relative;
  display: block;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  line-height: 30px;
  text-transform: capitalize;
  color: #2c2a49;
  opacity: 1;
  transition: all .3s ease;
}
.nav-options a {
  
  padding: 3px 0;
}

.nav-options a:hover {
  color: #C77A63 !important;
  transition: all .3s ease;
}

/* --------------------------------------------------nav-bar-end------------------------------------------------------------------- */





/* -----------------------------------------------summer-vacation-start---------------------------------------------------------------- */
.summer-vacation-wrapper {
  display: flex;
}

.summer-vacation-desc {
  padding: 0 0 0 105px;
  background-color: #FDFDFD;
}

.above-title h4 {
  position: relative;
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #C77A63;
    transition: all .5s ease;
    font-family: inherit;
    text-transform: uppercase;
}

.summer-vacation-desc {
  padding: 150px 0 0 105px;
}

.summer-vacation-header h1 {
  color: #2c2a49;
  font-weight: 700;
  font-size: 100px;
  font-family: "Cormorant", sans-serif;
}

.summer-vacation-para {
  font-size: 18px;
    line-height: 32px;
    padding: 5px 0 0;
}

.book-now-btn {
  position: relative;
    display: inline-flex;
    overflow: hidden;
    padding: 17px 35px 16px;
    text-align: center;
    z-index: 1;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    transition: .5s;
    background-color: #C77A63;
    border: none;
    border-radius: 1px;
    color: black;
}

.book-now-btn:hover{
  background-color: #2C2A49;
  color: white;
  transition: 0.5s;
}

.bookingbtn {
  padding-top: 20px;

}


/* -----------------------------------------------summer-vacation-end---------------------------------------------------------------- */




/* <!-- ------------------------------------------------availability-check-start----------------------------------------------------- --> */


.availability-wrapper {
  background-color: #FAF5F2;
}

.form-control:focus {
  box-shadow: none;
  border: none;
}

.form-select:hover {
  box-shadow: none;
  border: none;
}

.checkAvaiBtn {
  position: relative;
  display: inline-flex;
  overflow: hidden;
  padding: 17px 35px 16px;
  text-align: center;
  z-index: 1;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
  transition: .5s;
  background-color: #C77A63;
  border-radius: 1px;
  border: none;
}

.checkAvaiBtn:hover {
  background-color: #2C2A49;
}

.checkavaicontent {
  display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    z-index: 11;
    padding: 48px 0 28px;
}

.check-avai-label {
  color: #2b2d42;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 7px;
  font-size: 15px;
  text-align: center;
  line-height: 1.8;
}




/* <!-- ------------------------------------------------availability-check-end----------------------------------------------------- --> */




/* <!-- ----------------------------------------------------exclusive-offer-start----------------------------------------------------- --> */
.offer-heading {
  font-size: 60px;
  font-weight: 700;
  line-height: 1;
  position: relative;
    line-height: 1.25em;
    margin: 0;
    background: none;
    color: #2b2d42;
    font-family: "Cormorant", sans-serif;
    padding: 0 0 30px 0;
}

.offer-heading, .exclusive-off {
  text-align: center  ;
  letter-spacing: 5px;
}

.exclusive-offer-wrapper {
  padding: 150px 0 120px;
}

.exclusive-main-wrapper {
  background: linear-gradient(to bottom, #ffffff, #EDEDED);
}

.floating-cards {
  display: flex;
  gap: 30px;
}

.each-floating-card {
  top: 118px;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 10px 80px rgba(0, 0, 0, .1);
  background-color: white;
}

.each-floating-card:hover img{
  transform: scale(1.1);
  overflow: hidden;
  transition: 0.5s;
}

.floating-header {
  position: relative;
  font-weight: 700;
  line-height: 1.25em;
  margin: 0;
  background: none;
  color: #2b2d42;
  font-family: "Cormorant", sans-serif;
  text-align: center;
  font-size: 30px;
}

.floating-img {
  text-align: center;
  margin: -110px 0 40px 0;
}

.floating-desc {
  padding: 20px 59px;
    text-align: center;
    color: #6e6e6e;
    line-height: 1.8;
}

.arrow-icon-floating {
  width: 60px;
  height: 60px;
  background: #fff;
  box-shadow: 0 10px 80px rgba(0, 0, 0, .2);
  border-radius: 30px;
  display: inline-block;
  text-align: center;
  line-height: 63px;
  position: relative;
  transform: translateY(50%);
  font-size: 20px;
}

.arrow-icon-floating i {
  
}

/* <!-- ----------------------------------------------------exclusive-offer-end----------------------------------------------------- --> */





/* <!-- ----------------------------------------------------about-royalking-start----------------------------------------------------- --> */

.about-royalking-main-wrapper {
  background-color: #F9F4F1;
  margin: -190px 0 0 0;
  padding: 350px 0 120px 0;
}

.about-content {
  display: flex;
  gap: 60px;
}

.about-heading {
  text-align: left;
  line-height: 1;
  letter-spacing: 0;
}

.about-desc {
  padding: 85px 0 0 0;
}

/* .about-para {
  color: #6e6e6e;
    line-height: 1.8;
} */

.about-img:hover img{
  transform: scale(1.1);
  transition: 0.7s;
}

.discovermorebtn {
  color: white !important;
}
/* <!-- ----------------------------------------------------about-royalking-end----------------------------------------------------- --> */




/* <!-- ----------------------------------------------------discover-start----------------------------------------------------- --> */

.discover-main-wrapper {
  padding: 140px 0 0 0;
}

.discover-above {
  text-align: center;
}

.stars-icons {
  color: #F9BB19;
}

.card-header-title {
  text-align: left;
    padding: 20px 0;

}

.book-now-btn-card {
  color: #222;
    background: #fff;
    border: 1px solid #e5e5e5;
    padding: 16px 35px 15px;
    border-radius: 1px;
    position: relative;
    display: inline-flex;
    overflow: hidden;
    padding: 17px 35px 16px;
    text-align: center;
    z-index: 1;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    transition: .5s;
}

.book-now-btn-card:hover {
  background-color: #C77A63;
  border-color: #C77A63;
}

.each-room-card {
  position: relative;
}

.card-start {
  background: #fff;
  box-shadow: 0 5px 80px rgba(0, 0, 0, .15);
  border-radius: 30px;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  padding: 15px 60px;
  transform: translateY(-50%);
  margin-bottom: 2px;
  position: absolute;
  top: 250px;
  left: 55px;
}

.rooms-list-cards {
  display: flex;
  gap: 30px;
}

.red-card-highlight {
  color: #C77A63;
}

.room-card-desc {
  padding: 60px 45px 40px;
  background: #fff;
    box-shadow: 0 10px 80px rgba(0, 0, 0, .1);
}

.discover-card-desc {
  padding: 0 0 20px 0;
}

/* <!-- ----------------------------------------------------discover-end----------------------------------------------------- --> */






/* <!-- ----------------------------------------------------discover-slider-start----------------------------------------------------- --> */

.wrapper-img {
  position: relative;
  display: flex;
  justify-content: center;
}

.slider-container {
  position: relative;
  padding: 150px 0 0px 0;
}

.slider-content {
    position: absolute;
    background: #fff;
    box-shadow: 0 10px 80px rgba(0, 0, 0, .05);
    padding: 45px 50px;
    max-width: 550px;
    top: 453px;
    z-index: 100000;
    left: 392px;
}

.swiper-content-heading {
  text-align: left;
  font-size: 50px;
  padding: 0 0 15px 0;
}

.discover-slider-main-wrapper {
  /* padding: 150px 0 120px 0; */
}

/* <!-- ----------------------------------------------------discover-slider-end----------------------------------------------------- --> */







/* <!-- ----------------------------------------------------amenities-start----------------------------------------------------- --> */

.amenities-main-wrapper {
  background-color: #FAF5F2;

}

.amenities-inner-wrapper {
  padding: 150px 0 120px;
}

.amenities-desc {
  color: #6e6e6e;
    line-height: 1.8;
    font-size: 16px;
    padding: 0 244px 16px;
    text-align: center;
}

.amenities-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.each-amenity-activity {
  position: relative;
  background: #fff;
  text-align: center;
  padding: 68px 30px;
  transition: .5s;
  width: calc(18%);
  box-sizing: border-box;
}

.each-amenity-activity:hover {
  box-shadow: 0 10px 80px rgba(0, 0, 0, .1);
}

.each-amenity-activity:hover i{
  color: #C77A63;
  transition: 0.7s;
}
.each-amenity-activity:hover span {
  color: #C77A63;
  transition: 0.7s;
}

.amenity-icon {
  font-size: 45px;
  color: #2b2d42;
  margin-bottom: 15px;
  transition: .5s;
}

.amenity-title {
  text-transform: uppercase;
  font-weight: 500;
  color: #6e6e6e;
}

.material-symbols-outlined {
  font-size: 45px;
}



/* <!-- ----------------------------------------------------amenities-end----------------------------------------------------- --> */





/* <!-- ----------------------------------------------------testimonials-start---------------------------------------------------- --> */

.testimonials-main-wrapper {
  position: relative;
  padding: 0 0 50px 0;
}

.testimonials-inner-wrapper {
  /* padding: 150px 0 120px; */
  width: 90%;
  padding: 150px 0 120px 0;
}

.testimonials-inner-wrapper {
  display: flex;
}

.testimonial-above {
  text-align: left;
}

.testimonial-block {
  background: #fff;
    text-align: center;
    padding: 50px 50px 0;
    box-shadow: 0 10px 80px rgba(0, 0, 0, .07);
}

.testimonial-slider-wrapper {
  display: flex;
  gap: 30px;
  padding: 0 0 0 120px;
}

.quote-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #C77A63;
  margin: 0 auto;
}

.quote-icon span {
  font-weight: 400;
  padding: 5px;
  color: white;
  text-align: center;
  font-size: 30px;
}

.about-para {
  margin-bottom: 20px;
    line-height: 1.8rem;
}

.testimonial-name {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.25em;
  margin: 0;
  background: none;
  color: #2b2d42;
  font-family: "Cormorant", sans-serif;
  font-weight: 700;
}

.testimonial-post {
  font-size: 16px;
  color: #6e6e6e;
    line-height: 1.8;
}

.testimonial-profile-photo {
  position: relative;
  display: inline-flex;
  /* transform: translateY(50%); */
  width: 90px;
  height: 90px;
  border-radius: 50%;
  top: 50px;
}

.test-profile {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
}

.testimonial-words {
  width: 100%;
}

.pattern-img {
    position: absolute;
    bottom: 23px;
    left: 409px;
    z-index: -1;
}

/* <!-- ----------------------------------------------------testimonials-end---------------------------------------------------- --> */



/* <!-- -------------------------------------------------testimonials-image-start---------------------------------------------------- --> */

.testimonial-image-main-wrapper {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(images/parallax-bg.jpg);
  background-color: rgba(0, 0, 0, 0.5);
  margin: 25px 0 0 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
 
}


.testimonial-image {
  text-align: center !important;
}

.testimonial-image-heading {
  color: white;
}

.test-image-check-btn {
  display: flex;
  justify-content: center;
}

.check-test-btn {
  color: white;
}

.testimonial-image-inner-wrapper {
  padding: 150px 0;
}


/* <!-- ----------------------------------------------------testimonials-image-end---------------------------------------------------- --> */




/* <!-- ----------------------------------------------------our-article-start---------------------------------------------------- --> */

.article-main-wrapper {
  padding: 150px 0;
}

.article-desc {
  position: relative;
  padding: 30px;
    background: #fff;
    box-shadow: 0 10px 80px rgba(0, 0, 0, .07);
    max-width: 360px;
    margin-top: -70px;
    z-index: 5;
}

.article-image-wrapper {
  display: flex;
  gap: 30px;
}

.each-article-image:hover  a{
  filter: brightness(0.8);
  transition: 0.2s ease-in-out;
}

.date-of-article {
  position: relative;
    z-index: 9;
    line-height: 1.4em;
    color: #C77A63;
    background: rgba(199, 122, 99, .2);
    display: inline-flex;
    font-size: 15px;
    font-weight: 500;
    padding: 5px 15px;
    margin-bottom: 17px;
}

.article-header {
  text-align: left;
  padding: 0;
}

.article-para, .article-para-content {
  color: #6e6e6e;
  line-height: 1.8;
  margin: 0;
  padding: 8px 0;
}

.article-arrow-icon {
  padding: 0;
  transform: none;
  width: 50px;
  height: 50px;
  line-height: 47px;
  border: 1px solid #e5e5e5;
}

.article-arrow-icon:hover {
  background-color: #C77A63;
  color: white;
  transition: 0.5s;
  
}

/* <!-- ----------------------------------------------------our-article-end---------------------------------------------------- --> */






/* <!-- ----------------------------------------------------contact-us-start---------------------------------------------------- --> */

.contact-us-main-wrapper {
  background-color: #FAF5F2;
}

.contact-us-inner-wrapper {
  padding: 150px 0 120px;
  display: flex;
  gap: 100px;
}

.contact-form {
  position: relative;
    background: #fff;
    padding: 50px 110px 70px 50px;
    max-width: 560px;
    margin: 0 0 30px auto;
    width: 100%;
}

.contact-form::before{
  content: "";
  width: 100px;
  height: 100px;
  position: absolute;
  display: flex;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0);
}

.contact-form input {
  border: none;
    border-bottom: 1px solid gray;
    box-shadow: none;
    box-shadow: none;
    padding: 40px 0 12px;
}

.contact-form textarea {
  width: 100%;
  height: 85px;
  margin: 35px 0 0 0;
  border: 1px solid white;
 border-bottom: 1px solid gray;
}

/* .contact-message {
  width: 100%;
  height: 85px;
  margin: 35px 0 0 0;
  border: 1px solid white;
 border-bottom: 1px solid gray;
} */

.contact-form textarea:focus {
  border: 1px solid white;
  border-bottom: 2px solid #C77A63;
}

.contact-form label {
  padding: 15px 0;
}

.contact-form input:focus {
  border-bottom: 1px solid #C77A63;
  transition: 0.2s;
}

.contact-para {
  color: #6e6e6e;
    line-height: 1.8;
    font-size: 16px;
    padding: 0 100px 0 0px;
}

.contact-checkbox {
  padding: 5px;
}

.contact-form-btn {
  margin: 20px 0 0 0;
  color: white;
}



/* <!-- ----------------------------------------------------contact-us-end---------------------------------------------------- --> */





/* <!-- ----------------------------------------------------footer-start---------------------------------------------------- --> */

.footer-main-wrapper {
  background-color: #252638;
  color: white;
  padding: 120px 0 120px;
}

.inner-footer-wrapper {
  display: flex;
  gap: 30px;
  justify-content: space-around;
}

.add-contact {
  display: flex;
  gap: 20px;
  padding: 0 0 30px 0;
}

.footer-socials {
  display: flex;
  gap: 27px;
}

.footer-list {
  padding: 0;
}

.footer-list  li a{
  list-style: none;
  text-decoration: none;
  position: relative;
  color: #bebec3;
    outline: none;
    border: none;
    transition: .3s;
}

.footer-list li a:hover {
  color: #C77A63;
}

.footer-list ul,li {
  list-style: none;
  padding: 0;
  margin: 0 0 19px;
}

.subscribe-input {
  padding: 13px 13px 18px 13px;
  background-color: #252638;
  border: 1px solid;
  border-color: hsla(0,0%,100%,.15);
}

.subscribe-input:focus {
  border-color: #C77A63 !important;
  border-radius: 0%;
}

.Subscribe-btn {
  color: white;
  margin: -4px;
}

.footer-each-header {
  color: #fff;
  margin-bottom: 30px;
  line-height: 1.25em;
  font-family: "Cormorant", sans-serif;
  font-weight: 700;
  font-size: 30px;
}

.right-add-contact {
  color: #bebec3;
  line-height: 35px;
}

.left-add-contact {
  line-height: 35px;
}

.link-footer {
  padding: 0 0 0 20px;
}

.hours-footer {
  padding: 0 0 0 80px;
}

p {
  color: #6e6e6e;
  font-size: 16px;
  line-height: 1.8;
}

.footer-para {
  color: #bebec3;
  margin-bottom: 2rem;
  width: 82%;
}

/* <!-- ----------------------------------------------------footer-end---------------------------------------------------- --> */




/* ------------------------------------------------about-us-start------------------------------------------------------------- */

.about-us-below-nav {
  padding: 0;
  margin: 0;
}

.main-top-header {
  color: #fff;
    font-size: 80px;
    position: relative;
    z-index: 1;
    font-weight: 700;
    line-height: 1;
    font-family: "Cormorant", sans-serif;
    text-align: center;
}

.indication-section {
  padding: 22px 0;
    background: #faf5f2;
    display: flex;
    justify-content: center;
    color: #2c2a49;
    font-size: 17px;
    font-weight: 500;
}

.indication-section i {
  padding: 5px 5px;
}

.about-section-header {
  font-size: 60px;
  font-family: "Cormorant", sans-serif;
  font-weight: 700;
  line-height: 1;
}

.discover-more-btn {
  color: white;
}

.about-section-inner-wrapper {
  display: flex;
  gap: 50px;
  padding: 120px 0 160px;
}

.about-section-img {
  display: flex;
  gap: 50px;
  position: relative;
}

.about-section-words {
  
  max-width: 50% ;
}

.about-second-img {
  position: absolute;
    left: 380px;
    top: 230px;
}

.about-above-title {
  padding: 70px 0 0 0;
}

.video-area {
    width: 200px;
    height: 200px;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 30%;
    left: 74%;
    padding: 25px 0 10px;
    background-color: #C77A63;
}

.video-btn {
  font-size: 67px;
}

.video-title {
  font-size: 16px;
  color: #fff;
  line-height: 1.4;
  padding: 0 23px 0;
}

.offer-main-wrapper {
  background-color: #FAF5F2;
  padding: 150px 120px;
}

.each-offer-words {
  text-align: center;
  background: #fff;
  padding: 23px 10px;
  margin: -50px 30px 0;
  position: relative;
}

.offer-inner-wrapper {
  display: flex;
  gap: 30px;
}

.off-percent {
  width: 80px;
  height: 80px;
  background-color: #C77A63;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10%;
  right: 7%;
}

.each-offer-image {
  position: relative;
  overflow: hidden;
}

.each-offer:hover img{
  max-width: 410px;
  overflow: hidden;
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.offer-video-section {
  
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(images/video-1.jpg);
  padding: 500px 0 0 0 ;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  margin: 150px 50px 0 50px;
  position: relative;
  background-size: cover;
}

.below-off-video-btn {
  color: white;
  transition: .3s;
  position: absolute;
  top: 40%;
  left: 45%;
  font-size: 100px;
}

.below-off-video-btn:hover {
  color: #C77A63;
  cursor: pointer;
}

.reservation-header {
  color: white;
}

.make-reservation-main-wrapper {
  background-image: url(images/pattern-4.png);
  background-color: #C77A63;
}

.about-checkavaicontent input{
  background: transparent;
}

.about-checkavaicontent input::placeholder {
  color: white;
}

.about-checkavaicontent select{
  background: transparent;
}

.about-checkavaicontent select::placeholder {
  color: white;
}

.about-checkAvaiBtn {
  background-color: white;
  color: #222;
  margin: 18px 0 0 0;

}

.make-reservation-inner-wrapper {
  padding: 90px 0;
}

.about-check-avai-label {
  color: white;
}

.about-amenities-main-wrapper {
  padding: 0 0 35px 0;
}

.dedicated-team-inner-wrapper {
  padding: 150px 0 150px;
}

.about-team-list {
  display: flex;
  gap: 30px;
}

.member-post {
  text-align: center;
}

/* .member-image {
  position: relative;
} */

.member-header-title {
  padding: 25px 0 0;
}

.about-member-title {
  letter-spacing: 1px;
  font-size: 60px;
    font-weight: 700;
    /* line-height: 1; */
    position: relative;
    /* line-height: 1.25em; */
    margin: 0;
    background: none;
    color: #2b2d42;
    font-family: "Cormorant", sans-serif;
    padding: 0 0 50px 0;
}

.each-about-team-member:hover{
  opacity: rgba(0,0,0,0.1);
}

.each-about-team-member {
  position: relative;

}


.each-team-social {
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.7s;
}

.about-team-socials {
  display: flex;
  gap: 10px;
  position: absolute;
  top: 40%;
  left: 35%;
  visibility: hidden;
}

.each-about-team-member:hover .each-team-social {
  visibility: visible;
  transition: 0.2s;
}

.featured-special-inner-wrapper {
  padding: 150px 0;
}

.featured-special-main-wrapper {
  background-image: url(images/pattern-2.png);
  background-color: #FAF5F2;
}

.special-featured-list {
  display: flex;
  gap: 30px;
}

.each-special-featured {
  background-color: white;
}

.each-special-img {
  position: relative;;
}

.each-special-img img {
  width: 100%;
}

.each-special-words {
  padding: 40px;
}

.special-card-desc {
  padding: 0;
}

.special-para {
  margin: 0;
  padding: 0;
}

.special-off-percent {
  top: 85%;
}

.menu-of-the-day-main-wrapper {
  background-color: #FCFCFC;
}

.menu-of-the-day-inner-wrapper {
  padding: 120px 0;
}

.list-of-the-menu {
  display: flex;
  gap: 30px;
}

.each-menu-of-list {
  box-shadow: 0 10px 80px rgba(0, 0, 0, .07);
    position: relative;
    padding: 40px 40px 25px 40px;
    margin-bottom: 30px;
    width: 50%;
}

.top-bar {
  display: flex;
  justify-content: space-between;
}

.border-img {
  height: 1px;
}

.price-desc {
  padding: 28px 0 0 0;
}

.price-of-each {
  font-size: 22px;
  line-height: 1.8rem;
  color: #C77A63;
}

.popular-dishes-main-wrapper {
  background-color: #FAF5F2;
  padding: 120px 0;
}

h4 {
  font-family: "Cormorant", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.25em;
  letter-spacing: 5px;
}

.red-price {
  color: #C77A63;
  padding: 0 10px 0 0 ;
}

.bottom-price-list {
  color: #6e6e6e;
  line-height: 1.8;
  font-size: 15px;
}

.rooms-style-inner-wrapper {
  padding: 120px 0;
}

.rooms-list-cards-below {
  padding: 30px 0 0 0;
}

.each-room-card-below {
  height: 100%;
}

.room-card-img-below {
  height: 550px;
    width: 410px;
}

.room-card-img-below img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-start-above {
  top: 61%;
}

.blog-body-inner-wrapper {
  display: flex;
  /* gap: 30px; */
  padding: 150px 0;
  justify-content: space-between;
}

.blog-right-top-search {
  background-color: #FAF5F2;
  padding: 40px;
  margin: 0 0 40px;
}

.blog-search-icon-part input {
  background: transparent;
  border: none;
  border-bottom: 1px solid lightgray;
}

.blog-search-icon-part i {
  color: lightgray;
  padding: 0 0 10px 0;
}

.blog-search-header {
  padding: 0 0 30px 0;
}

.blog-left-section {
  padding: 0 15px 0 0;
  width: calc(100% - 426px);
}

.blog-right-section {
  /* padding: 0 0 0 45px; */
  width: 370px;
}

.category-list {
  margin: 0 -30px;
}

.category-list a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.bottom-categoty {
  width: 90%;
}

.date-of-blog {
  
}

.bottom-content-blog {
  padding: 30px 0;
}

.admin {
  margin-right: 20px;
  color: #6e6e6e;
}

.blog-heading {
  padding: 0 0 10px 0;  
}

.blog-content {
  padding: 0 167px 0 0;
}

.blog-blockquote{
  background-color: #FAF5F2;
  padding: 50px 72px 30px 50px;
  font-weight: 500;
  color: dimgray;
}

.inner-image-wrapper {
  display: flex;
  gap: 15px;
  padding: 20px 0;
}

.blog-inner-header {
  font-family: "Cormorant", sans-serif;
  font-weight: 700;
  padding: 0 5px 0 0;
  font-size: 24px;
}

.blog-inner-header a {
  text-decoration: none;
  color: #252638;
}

.quote-icon-blog {
  font-size: 30px;
}

.name-blog {
  font-size: 18px;
  padding: 50px;
  color: black;
  font-family: sans-serif;
  text-decoration: none;
  padding: 0 0 0 50px;
}

.popular-tags-blog {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.popular-tags-blog ul,li,a {
  text-decoration: none;
  list-style: none;
  color: black;
}

.each-tag {
  background-color: white;
  color: #222;
    display: inline-flex;
    padding: 4.5px 22px;
    background: #fff;
    border-radius: 18px;
    font-weight: 600;
}

.each-tag:hover {
  background-color: #C77A63;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.each-tag-1 {
  border: 1px solid lightgray;
}

.each-tag-1:hover {
  border: 1px solid white;
}

.about-inner-wrapper {
  display: flex;
  background-color: #FAF5F2;
  padding: 50px;
  gap: 25px;
}

.img-author {
  border-radius: 50%;
}

.img-author img {
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
  width: 120px;
  height: 120px;
}

.about-author-section {
  padding: 90px 0;
}

.each-comment-img {
  width: 90px;
  height: 90px;

}

.each-two-comment {
  display: flex;
  gap: 65px;

}

.reply {
  background-color: #C77A63;
    color: #fff;
    padding: 3px 27px;
    font-size: 12px;
    font-weight: 700;
    transition: .5s ease;
    border-radius: 19px;
    text-transform: uppercase;
    position: absolute;
    top: 10%;
    right: 0%;
}

.each-two-comment {
  position: relative;
  padding: 25px 0;
}

.text {
  padding: 18px 0;
}

.name-in-comment {
  font-family: "Cormorant", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.25em;
  color: #2b2d42;
}

h3 {
  font-family: "Cormorant", sans-serif;
  font-size: 40px;
  font-weight: 700;
}

.add-comment input{
  width: 40%;
  padding: 17px;
  margin: 5px 80px 0 0;
}

.add-comment textarea {
  margin: 25px 0;
  width: 83%;
  min-height: 175px
}

.add-comment input {
  border: 1px solid lightgray;
  outline: none;
}

.add-comment input:focus {
  border: 1px solid #C77A63 !important;
  outline: none;
}

.add-comment textarea:focus {
  border: 1px solid #C77A63 !important;
  outline: none;
}

.comment-btn {
  padding: 2px 0;
}

.contact-inner-wrapper {
  padding: 150px 0;
}

.location-name-each {
  letter-spacing: 0;
  font-size: 20px;
}

.location-icon {
  color: #C77A63;
  padding: 0 10px 0 0;
}

.location-icon-wrapper {
  display: flex;
}

.location-wrapper {
  display: flex;
  border-right: 1px solid lightgray;
  gap: 25px;
}

.location-each {
  border-right: 1px solid lightgray;
  padding: 0 28px 0 0;
}

.last-location-each {
  border: none;
}

a {
  color: #676767;
}

a:hover {
  color: #C77A63;
  transition: 0.3s;
}

.contact-and-map-inner-wrapper {
  display: flex;
  gap: 30px;
  background-color: #FFFFFF;
}


/* ------------------------------------------------about-us-start------------------------------------------------------------- */

